body{
    background-color: black;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}
h2{
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.glove{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/gloves.jpg);
    height: 460px;
    color: black;
}
.all{
    color: #F0F0F0;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 170px 0;
    text-align: center;
}

.all >h2{
    margin-bottom: 20px;
}
.all > a{
    color: white;
    border: 1px white solid;
    padding: 10px 35px 10px 15px;
    height: 14px;
}
.all2{
    color: #F0F0F0;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 230px 0;
    text-align: center;
}
.all2 >h2{
    margin-bottom: 20px;
}
.all2 > a{
    color: white;
    border: 1px white solid;
    padding: 10px 35px 10px 15px;
    height: 14px;
}

.helmet{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/helmet.jpg);
}
.boot{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/boots.jpg);
}
.jacket{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/protective-jackets.JPG);
    height: 470px;
}
.mlg{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/mlag.jpg);
}
.tshirt{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/t-shirts.JPG);
}
.shirt{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/shirts.jpg);
    height: 640px;
}
.mask{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/royal-enfield-apparel-mask.png);
}

.bag{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/apparel/collections/bags.jpg);
}

/* IMAGE CAROUSAL */

/* To change indicators to circle */
.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    border-radius: 100%;
}

/* To change active indicator color to red */
.carousel .carousel-indicators .active{
    background-color: #d1291c;
}

.carousel-item a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
    padding-right: 20px;
    position: absolute;
}

.carousel-item a:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.slide{
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
}

.slide1{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/accessories/banner/campaign/slip-on-silencer.jpg");
}

.slide1 > a{
    top: 45%;
    left: 10%;
}

.slide2{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/royal-enfield-hfi.png");
}

.slide2 > a{
    top: 80%;
    left: 45%;
}

.slide3{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/bereborn-homepage.png");
}

.slide3 > a{
    top: 45%;
    left: 70%;
}

.slide4{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/gtcup-home.jpg");
}

.slide4 > a{
    top: 50%;
    left: 45%;
}

.slide5{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/miy-riding-jacket.jpg");
}

.slide5 > a{
    top: 45%;
    left: 10%;
}

.slide6{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/podcast/homepage-podcast.jpg");
}

.slide6 > h2{
    position: absolute;
    width: 30%;
    color: #ffffff;
    top: 30%;
    left: 60%;
}

.slide6 > p{
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    top: 47%;
    left: 60%;
}

.slide6 > a{
    top: 53%;
    left: 60%;
}

.slide7{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/royal-enfield-timeless-classic.png");
}

.slide7 > a{
    top: 80%;
    left: 45%;
}




