body{
    margin: 0;
}
.royal_img{
    width: 100%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.royal_img>img{
    filter: invert(1); 
    margin: 20px 0;
}
.container{
    padding: 20px;
    width: 85%;
    display: flex;
    margin: auto;
    height: 450px;
}
.payment_option{
    width: 60%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.card-option{
    width: 30%;
}
.card{
    display: block;
    height: 55px;
    width: 100%;
    font-weight: bold;
}
form{
    width: 100%;
    padding: 0 25px;
}    
#confirm{
    width: 98%;
    height: 45px;
}

.card-input >input{
    margin: 10px 0;
    width: 95%;
    height: 25px;
    padding: 10px 5px 0 5px;
}
#cvv{
    width: 60%;  
}
.card-input > div {
    width: 90%;
    display: flex;
}

.card-input > div > select{
    width: 200px;
    height: 35px;
    margin: 10px 0;
}
.item-deatil{
    width: 40%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-left: 50px;
    border-radius: 5px;
}
