@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR STYLE */

#navbar{
    box-sizing: border-box;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#navbar > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
}
#logo{
    width: 15%
}
#logo > img{
    width: 90%;
    margin: auto;
}
#menu{
    width: 45%;
}
.links > a{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.links > a:hover{
    color: #d1291c;
}
#login{
    width: 10%;
    color: white;
}
#location > a > img{
    width: 25px;
    height: 17px;
}

#location > a{
    padding-right: 10px;
}


/* BODY MAIN DIV STYLE BEGINS */

/* 120 years jounrey div */

#journeyDiv{
    width: 100%;
    position: relative;
}

#journeyDiv > video{
    width: 100%;
    height: 100%;
}

#downArrow{
    position: absolute;
    top: 90%;
    left: 50%;
    color: #ffffff;
}

#pauseBtn{
    display: none;
    position: absolute;
    top: 50%;
    left: 49%;
    color: #ffffff;
    font-weight: light; 
    cursor: pointer;
}

#play{
    display: none;
}
/* TRIBUTE DIV */

#tributeDiv{
    width: 100%;
    height: 550px;
    background: linear-gradient(to right,rgba(0,0,0,0.25) 0,rgba(0,0,0,0) 100%);
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/royal-enfield-south-pole.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin-top: -5px;
    display: flex;
    align-items: center;
}


#knowMore > a{
    display: inline-block;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
    padding-right: 20px;
}

#knowMore > a:hover{
    background-color: #ffffff;
    color: #000000;
}


/* IMAGE CAROUSAL */

/* To change indicators to circle */
.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    border-radius: 100%;
}

/* To change active indicator color to red */
.carousel .carousel-indicators .active{
    background-color: #d1291c;
}

.carousel-item a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
    padding-right: 20px;
    position: absolute;
}

.carousel-item a:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.slide{
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
}

.slide1{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/accessories/banner/campaign/slip-on-silencer.jpg");
}

.slide1 > a{
    top: 45%;
    left: 10%;
}

.slide2{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/royal-enfield-hfi.png");
}

.slide2 > a{
    top: 80%;
    left: 45%;
}

.slide3{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/bereborn-homepage.png");
}

.slide3 > a{
    top: 45%;
    left: 70%;
}

.slide4{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/gtcup-home.jpg");
}

.slide4 > a{
    top: 50%;
    left: 45%;
}

.slide5{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/miy-riding-jacket.jpg");
}

.slide5 > a{
    top: 45%;
    left: 10%;
}

.slide6{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/podcast/homepage-podcast.jpg");
}

.slide6 > h2{
    position: absolute;
    width: 30%;
    color: #ffffff;
    top: 30%;
    left: 60%;
}

.slide6 > p{
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    top: 47%;
    left: 60%;
}

.slide6 > a{
    top: 53%;
    left: 60%;
}

.slide7{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/royal-enfield-timeless-classic.png");
}

.slide7 > a{
    top: 80%;
    left: 45%;
}

.slide8{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/interceptor-homepage.jpg");
}

.slide8 > a{
    top: 50%;
    left: 45%;
}

.slide9{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/continental-gt-homepage.jpg");
}

.slide9 > a{
    top: 50%;
    left: 45%;
}

.slide10{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/meteor.jpg");
}

.slide10 > a{
    top: 45%;
    left: 10%;
}

.slide11{
    background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/desktop/royal-enfield-himalayan-motorcycle.jpg");
}

.slide11 > img{
    position: absolute;
    width: 300px;
    height: 85px;
    top: 30%;
    left: 9%;
}

/* .slide11 > p{
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    top: 48%;
    left: 10%;
} */

.slide11 > a{
    top: 55%;
    left: 11%;
}



/* #dummy{
    border: 3px solid blue;
    margin-top: 30px;
    height: 30px;
}
 */


