body {
  background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/login/sign-up/banner-3.jpg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.signupCont {
  width: 90%;
  background-color: rgb(229, 227, 227);
  margin: auto;
  margin-top: 290px;
  /* margin-bottom: 200px; */
  padding-bottom: 70px;
}
.nav {
  display: flex;
  padding: 50px 2px;
  border-bottom: solid 2px #8e8e8e;
  margin-top: 50px;
}
.nav > div {
  width: 33%;
}
img {
  width: 60px;
  height: 55.78px;
}
.nav > div > p {
  text-align: center;
  margin: 5px 50px;
}
#inpt > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  padding: 10px 50px;
  gap: 80px;
}
#genF,
#genM,
#ownY,
#ownN {
  margin-right: 8px;
  margin-top: 5px;
  margin-left: 5px;
}
.firNam,
.lasNam {
  width: 60%;
  height: 40px;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
  background: 0;
  color: black;
  border: 2px solid dimgray;
}
.firNam,
.lasNam {
  padding-left: 15px;
  margin: auto;
}
.emai,
.passW {
  width: 60%;
  height: 40px;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
  background: 0;
  color: black;
  border: 2px solid dimgray;
}

.emai,
.passW {
  padding-left: 15px;
}

select,
.phon {
  width: 60%;
  height: 50px;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
  background: 0;
  color: black;
  border: 2px solid dimgray;
}

select {
  padding-left: 15px;
}
.phon {
  padding-left: 15px;
}
.dob {
  width: 60%;
  height: 40px;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
  background: 0;
  color: black;
  border: 2px solid dimgray;
  padding-left: 15px;
}

#inpt > div > div > input {
  width: 100%;
  height: 50px;
}
select {
  width: 104%;
  height: 50px;
}
#inpt > div {
  height: 40px;
  padding-top: 30px;
}
.gen > div {
  display: flex;
  justify-content: flex-start;
}
h1 {
  text-align: center;
  font-weight: 700px;
}
#gend {
  margin-bottom: 10px;
}
.gen > p {
  margin-top: 0px;
}
p,
span,
input,
button {
  font-weight: 500;
}
.cond {
  padding: 20px 50px;
}
.humanV {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 245px;
  margin: auto;
  margin-top: 50px;
}
.recapI {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.recaptch {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.humanV > div {
  align-items: center;
}
.humanV > div > span {
  margin-top: -100px;
}
a {
  color: black;
  font-weight: 700;
}
.humanV > div {
  display: flex;
}
.createA {
  /* height: 45px;
  width: 17%;
  margin-top: 50px;
  align-items: center; */

  color: #fff;
  display: inline-block;
  font-family: "Libre Franklin", sans-serif;
  font-size: small;
  text-align: center;
  padding: 10px 35px 10px 15px;
  transition: all 0.6s ease;
  text-transform: none;
  position: relative;
  line-height: 14px;
  border-width: 1.7px;
  border-style: solid;
  text-decoration: none !important;
  background-color: #212529;
  cursor: pointer !important;
  align-self: center;
  border-color: #000;
}
.orSignUp {
  /* display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px;
  gap: 10px;
  /* padding-left: 38px; */
  padding: 0px 300px 0px 300px;
}
.orSignUp > button:nth-child(1) {
  /* background-color: rgb(24, 51, 146); */
  width: 97%;
  height: 34px;
  color: #fff;
  background: #183392;
  border: 1px solid #183392;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.orSignUp > button:nth-child(2) {
  /* background-color: rgb(207, 82, 82); */
  width: 95%;
  height: 34px;
  color: #fff;
  background: #cf5252;
  border: 1px solid #cf5252;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.orSignUp > button:nth-child(3) {
  /* background-color: rgb(79, 185, 238); */
  width: 95%;
  height: 34px;
  color: #fff;
  background: #4fb9ee;
  border: 1px solid #4fb9ee;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.orSignUp > button {
  color: white;
  /* padding: 10px; */
  width: 95%;
  text-align: center;
  margin: auto;
}
.logI {
  height: 35px;
  width: 10%;
}
.createA {
  color: black;
  background-color: gainsboro;
  transition: background-color 0.5s;
}
.createA:hover {
  color: white;
  background-color: black;
}

.logI {
  color: black;
  background-color: gainsboro;
  transition: background-color 0.5s;
  border-color: #000;
  border-width: 1.7px;
}
.logI:hover {
  color: white;
  background-color: black;
}
button,
.createA,
.gen > div > input {
  cursor: pointer;
}
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.radio_input {
  display: none;
}

.radio2 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid dimgray;
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
  padding: 2px;
}

.radio2::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: red;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio_input:checked + .radio2::after {
  transform: scale(1);

  @media all and (max-width: 767px) {
    #inpt > div {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 0px);
    }
    .orSignUp {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
    }
    .orSignUp > button,
    .logI,
    .createA {
      width: 95%;
    }
    #inpt > div {
      height: 140px;
    }

    .signupCont {
      width: 101%;
      background-color: rgb(229, 227, 227);
      margin-top: 150px;
    }

    .createA,
    .logI {
      color: white;
      background-color: black;
    }
    .cond {
      margin-top: -80px;
    }
    .humanV {
      margin-bottom: -50px;
    }
  }
}
